{% extends "layout.njk" %}

{% block content %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">
                Home
            </a>
            <a class="navbar-item" href="#about">
                About
            </a>
            <a class="navbar-item" href="#experience">
                Experience
            </a>
            <a class="navbar-item" href="#skills">
                Technical Skills
            </a>
            <a class="navbar-item" href="#projects">
                Projects
            </a>
            <a class="navbar-item" href="#contact">
                Contact
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="nav-icon" href="https://github.com/mwcaisse" target="_blank">
                    <!-- TODO: Implment font awesome-->
                    <i class="fab fa-github fa-2x action-icon"></i>
                </a>
            </div>
        </div>
    </div>
</nav>


<div id="name">
    <div class="name-content">
        <h1>Mitchell Caisse</h1>
        <h2>Software Developer</h2>
        <a class="button button-is-primary" href="[[context_root]]res/resume.pdf" target="_blank">Download Resume</a>
    </div>
</div>

<a id="about" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        About Me
    </h3>
    <p>
        I am a motivated software developer with a penchant for creating intuitive user interfaces.
        That is not to say I don't know my way around a web service or database.
        I am a quick learner who thrives when thrown into situations with new and unfamiliar technologies and libraries.
        I can often be found in a dark room coding, if I'm not I am likely cycling, driving, or bothering friends or family.
    </p>

</div>

<a id="experience" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        Experience
    </h3>

    {% for company in companies %}
        <div class="card" style="margin-bottom:3rem;">
            <div class="card-header">
                <p class="card-header-title">{{company.name}}</p>
                <p class="card-header-title" style="justify-content: flex-end">{{company.title}}</p>
            </div>
            <div class="card-content">               
                {% for point in company.points %}
                    <p style="padding-bottom: 0.75rem">{{point}}</p>
                {% endfor %}
                {% if company.skills.length > 0 %}
                    <p>
                        <b>Related Skills:</b> {{ company.skills | join(", ") }}
                    </p>
                {% endif %}
            </div>
            <div class="card-footer">
                {% for date in company.dates %}
                <p style="padding:0.75rem">{{date.start}} - {{date.end}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<a id="skills" class="anchor"></a>
<div class="container section">
    <h3 class="title">Skills</h3>

    {% for category in skill_categories %}
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">{{category.name}}</p>
        </div>
        <div class="card-content">
            <div class="columns is-vcentered is-centered is-multiline">
                {% for skill in category.skills %}
                <div class="column is-one-sixth is-one-quarter-mobile has-text-centered">
                    <figure>
                        <img src="[[context_root]]/img/logos/{{skill.logo}}" style="width: 64px" />
                        <figcaption>{{skill.title}}</figcaption>
                    </figure>
                </div>  
                {% endfor %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<a id="projects" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        Projects
    </h3>  
    <div class="columns is-vcentered is-centered is-multiline">
        {% for project in projects %}
        
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="[[context_root]]{{ project.thumbnail }}" />
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">{{ project.name }}</p>
                    <p style="height:2rem;">{{ project.description }}</p>
                    <div style="display: none;">
                        <p class="title is-4">Details</p>
                        <div class="content">
                            <ul>
                                {% for detail in project.details %}
                                <li>{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% for github in project.github %}
                    <a class="card-footer-item project-github-link" href="{{ github }}">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<!-- End of Projects Div-->

<a id="contact" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        Contact
    </h3>

    <div class="columns">
        <div class="column">
            <i class="fas fa-envelope fa-5x contact-icon"></i>
        </div>
        <div class="column" id="contact-form">
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Enter your name" v-model="name"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="Enter your email" v-model="email"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" v-model="message"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="button" v-on:click="send">Send</button>
                </div>
                <div class="control">
                    <button class="button is-link" type="button" v-on:click="clear">Clear</button>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="[[context_root]]lib/vue/js/vue.min.js"></script>
    <script type="text/javascript" src="[[context_root]]js/contactView.js"></script>
{% endblock %}