{% extends "layout.njk" %}

{% block content %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">
                Home
            </a>
            <a class="navbar-item" href="#about">
                About
            </a>
            <a class="navbar-item" href="#experience">
                Experience
            </a>
            <a class="navbar-item" href="#skills">
                Technical Skills
            </a>
            <a class="navbar-item" href="#projects">
                Projects
            </a>
            <a class="navbar-item" href="#contact">
                Contact
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="nav-icon" href="https://github.com/mwcaisse" target="_blank">
                    <!-- TODO: Implment font awesome-->
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</nav>


<div id="name">
    <div class="name-content">
        <h1>Mitchell Caisse</h1>
        <h2>Software Developer</h2>
        <a class="button button-is-primary" href="{{ contextRoot }}res/resume.pdf" target="_blank">Download Resume</a>
    </div>
</div>

<a id="about" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        About Me
    </h3>
    <p>
        I am a motivated software developer with a penchant for creating intuitive user interfaces.
        That is not to say I don't know my way around a web service or database.
        I am a quick learner who thrives when thrown into situations with new and unfamiliar technologies and libraries.
        I can often be found in a dark room coding, if I'm not I am likely cycling, driving, or bothering friends or family.
    </p>

</div>

<a id="experience" class="anchor"></a>
<div class="container section">
    <h3 class="title">
        Experience
    </h3>

    {% for company in companies %}
        <div class="card" style="margin-bottom:3rem;">
            <div class="card-header">
                <p class="card-header-title">{{company.name}}</p>
                <p class="card-header-title" style="justify-content: flex-end">{{company.title}}</p>
            </div>
            <div class="card-content">               
                {% for point in company.points %}
                    <p style="padding-bottom: 0.75rem">{{point}}</p>
                {% endfor %}
                {% if company.skills.length > 0 %}
                    <p>
                        <b>Related Skills:</b> {{ company.skills | join(", ") }}
                    </p>
                {% endif %}
            </div>
            <div class="card-footer">
                {% for date in company.dates %}
                <p style="padding:0.75rem">{{date.start}} - {{date.end}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<a id="skills" class="anchor"></a>
<div class="container">
    <h3 class="title">Skills</h3>

    {% for category in skill_categories %}
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">{{category.name}}</p>
        </div>
        <div class="card-content">
            <div class="columns is-vcentered is-centered is-multiline">
                {% for skill in category.skills %}
                <div class="column has-text-centered">
                    <figure>
                        <img src="{{contextRoot }}/img/logos/{{skill.logo}}" style="width: 64px" />
                        <figcaption>{{skill.title}}</figcaption>
                    </figure>
                </div>

                {% if loop.index % 6 == 0 %}
            </div>
            <div class="columns is-vcentered is-centered is-multiline">
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<a id="projects" class="anchor"></a>
<div class="container">
    <h3 class="title">
        Projects
    </h3>     
    <div class="row">

        {% for project in projects %}

            {% if loop.index0 % 3 === 0 %}
            </div>
            <div class="row">
            {% endif %}

            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ contextRoot }}{{ project.thumbnail }}" />
                </div>
                <a href="{{ contextRoot }}{{ project.link }}">
                    <div class="project-info">
                        <span class="project-text">
                            <h3>{{ project.name }}</h3>
                            <h5>{{ project.description }}</h5>
                        </span>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    
    </div>
    <!-- End of Projects Div-->

    <a id="contact" class="anchor"></a>
    <div id="contact" class="black-container">
        <div class="container">
            <h3 class="title">Contact</h3>
            
            <div class="row">
                <div id="contact-icon" class="col">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="col">
                    <form id="formContact">
                        <div class="form-group" data-bind="css: {'has-danger': $data.Name.ShowError}">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter name"
                                   data-bind="textInput: $data.Name,
                                      css: {'form-control-danger': $data.Name.ShowError}" />
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Name.ValidationMessage,
                                    visible: $data.Name.ShowError"></div>
                        </div>

                        <div class="form-group" data-bind="css: {'has-danger': $data.Email.ShowError}">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control form-control-danger" id="inputEmail" placeholder="Enter email"
                                   data-bind="textInput: $data.Email, ,
                                      css: {'form-control-danger': $data.Email.ShowError}" />
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Email.ValidationMessage,
                                    visible: $data.Email.ShowError"></div>
                        </div>

                        <div class="form-group" data-bind="css: {'has-danger': $data.Message.ShowError}">
                            <label for="inputMessage">Message</label>
                            <textarea class="form-control form-control-danger" id="inputMessage" rows="5"
                                      data-bind="textInput: $data.Message,
                                         css: {'form-control-danger': $data.Message.ShowError}"></textarea>
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Message.ValidationMessage,
                                    visible: $data.Message.ShowError"></div>
                        </div>

                        <button type="button" class="btn btn-primary" data-bind="click: $data.Send">Send</button>

                        <div data-bind="with: $data.Alert" style="padding-top: 15px;">
                            <div class="alert" data-bind="visible: $data.Show, css: $data.Type" style="display: none">
                                <button type="button" class="close" data-bind="click: $data.Hide"><span aria-hidden="true">&times;</span></button>
                                <strong data-bind="visible: $data.HasBoldText, text: $data.BoldText"></strong>&nbsp;<span data-bind="text: $data.Message">This is the alert message!</span>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            

        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>    
    <script type="text/javascript" src="{{ contextRoot }}js/contactViewModel.js"></script>
{% endblock %}