{% extends "layout.njk" %}

{% block content %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">Technical Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li>
            <a class="nav-icon" href="https://github.com/mwcaisse" target="_blank">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </li>
    </ul>
</nav>

<div id="name" class="jumbotron">
    <div class="name-content">
        <h1>Mitchell Caisse</h1>
        <h2>Software Developer</h2>
        <a class="btn-resume btn btn-outline-secondary" href="{{ contextRoot }}res/resume.pdf" target="_blank">Download Resume</a>
    </div>
</div>

<!-- Start of About Me Div -->
<div id="about" class="black-container">
    <div class="container">
        <h3>About Me</h3>
        <p>I am a motivated software developer with a penchant for creating intuitive user interfaces. 
        That is not to say I don't know my way around a web service or database. 
        I am a quick learner who thrives when thrown into situations with new and unfamiliar technologies and libraries.
        I can often be found in a dark room coding, if I'm not I am likely cycling, driving, or bothering friends or family.</p>
    </div>
</div>
<!-- End of About Me Div-->
<!-- Start of Technical Skills Div-->
<div id="skills" class="container">
    <h3 class="skills-header">Technical Skills</h3>

    <div class="row">
        <div class="col skills-list">
            <h4>Languages</h4>
            <ul>
                <li>Java</li>
                <li>C#</li>
                <li>JavaScript</li>
                <li>C/C++</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Databases</h4>
            <ul>
                <li>MariaDB</li>
                <li>MySQL</li>
                <li>Oracle</li>
                <li>SQL Server</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Tools</h4>
            <ul>
                <li>Git</li>
                <li>TFS</li>
                <li>SVN</li>
                <li>Maven</li>
                <li>Jenkins</li>
                <li>Gradle</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Libraries</h4>
            <ul>
                <li>Entity Framework</li>
                <li>MyBatis</li>
                <li>JPA</li>
                <li>Spring Framework</li>
                <li>Apache Solr</li>
                <li>Knockout</li>
                <li>Angular 2</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Vue.js</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Misc</h4>
            <ul>
                <li>SharePoint</li>
                <li>SSRS</li>
                <li>Unix/Linux</li>
                <li>Agile</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>
</div>

<!-- End of Technical Skills Div-->

<!-- Start of Experience Div-->
<div id="experience" class="black-container">
    <div class="container">
        <h3>Experience</h3>
        {% for company in companies %}

            <div class="row">
                <div class="col-3 align-self-center">
                    <div class="timeline-icon left">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </div>
                    <div class="timeline-text left {% if company.dates.length === 2 %}double{% endif %}">
                        {% for date in company.dates %}
                         {{date.start}} - {{date.end}} {% if not loop.last %} <br /> {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-9">
                    <div class="card experience-card">
                        <div class="card-block">
                            <h4 class="card-title">{{company.name}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{company.title}}</h6>

                            {% for point in company.points %}
                                <p>{{point}}</p>
                            {% endfor %}

                            {% if company.skills.length > 0 %}
                            <p>
                                <b>Related Skills:</b> {{ company.skills | join(", ") }}                            
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- End of Experience Div-->



<!-- Start of Projects Div-->

<div id="projects" class="container">
    <h3>Projects</h3>
     
    <div class="row">

        {% for project in projects %}

            {% if loop.index0 % 3 === 0 %}
            </div>
            <div class="row">
            {% endif %}

            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ contextRoot }}{{ project.thumbnail }}" />
                </div>
                <a href="{{ contextRoot }}{{ project.link }}">
                    <div class="project-info">
                        <span class="project-text">
                            <h3>{{ project.name }}</h3>
                            <h5>{{ project.description }}</h5>
                        </span>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    
    </div>
    <!-- End of Projects Div-->

    <div id="contact" class="black-container">
        <div class="container">
            <h3>Contact</h3>
            
            <div class="row">
                <div id="contact-icon" class="col">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="col">
                    <form id="formContact">
                        <div class="form-group" data-bind="css: {'has-danger': $data.Name.ShowError}">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter name"
                                   data-bind="textInput: $data.Name,
                                      css: {'form-control-danger': $data.Name.ShowError}" />
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Name.ValidationMessage,
                                    visible: $data.Name.ShowError"></div>
                        </div>

                        <div class="form-group" data-bind="css: {'has-danger': $data.Email.ShowError}">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control form-control-danger" id="inputEmail" placeholder="Enter email"
                                   data-bind="textInput: $data.Email, ,
                                      css: {'form-control-danger': $data.Email.ShowError}" />
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Email.ValidationMessage,
                                    visible: $data.Email.ShowError"></div>
                        </div>

                        <div class="form-group" data-bind="css: {'has-danger': $data.Message.ShowError}">
                            <label for="inputMessage">Message</label>
                            <textarea class="form-control form-control-danger" id="inputMessage" rows="5"
                                      data-bind="textInput: $data.Message,
                                         css: {'form-control-danger': $data.Message.ShowError}"></textarea>
                            <div class="form-control-feedback"
                                 data-bind="text: $data.Message.ValidationMessage,
                                    visible: $data.Message.ShowError"></div>
                        </div>

                        <button type="button" class="btn btn-primary" data-bind="click: $data.Send">Send</button>

                        <div data-bind="with: $data.Alert" style="padding-top: 15px;">
                            <div class="alert" data-bind="visible: $data.Show, css: $data.Type" style="display: none">
                                <button type="button" class="close" data-bind="click: $data.Hide"><span aria-hidden="true">&times;</span></button>
                                <strong data-bind="visible: $data.HasBoldText, text: $data.BoldText"></strong>&nbsp;<span data-bind="text: $data.Message">This is the alert message!</span>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            

        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ contextRoot }}lib/knockout/knockout-latest.js"></script>    
    <script type="text/javascript" src="{{ contextRoot }}js/contactViewModel.js"></script>
{% endblock %}