<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" context="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="stylesheet" href="{{ contextRoot }}lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ contextRoot }}css/styles.css" />

    <title>Mitchell Caisse - Software Engineer</title>
</head>

<body>    
    {% block content %}
    {% endblock %}

    <footer class="footer">
        <span>&copy; Mitchell Caisse</span>

        <div id="footer-right" class="pull-right">
            <ul>
                <li>
                    <a href="https://github.com/mwcaisse" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="{{ contextRoot }}lib/bootstrap/js/bootstrap.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>