<p>
    PushFile is an application to send files to an Android device through the use of Push Notifications.
    The user can register their phone and the use the web interface to send images, music, videos, and other files to their phone.
    The application on the phone will automatically download the files when it has an internet connection.
</p>

<p>
    My use for the project was to synchronize music and movies to my tablet which was installed in my car.
    It was difficult to remove the tablet from the car and connect to a computer, push notifications made it easy to remotely tell the tablet to download files.
</p>