{% extends "layout.njk" %}

{% block content %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <ul class="nav nav-pills float-right">
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">Technical Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
    </ul>
</nav>

<div id="name" class="jumbotron">
    <div class="name-content">
        <h1>Mitchell Caisse</h1>
        <h2>Software Engineer</h2>
        <a class="btn-resume btn btn-outline-secondary" href="#">Download Resume</a>
    </div>
</div>

<!-- Start of About Me Div -->
<div id="about" class="black-container">
    <div class="container">
        <h3>About Me</h3>
        <p>I am a software developer. I write some of the worst code imaginable, but somehow in the end it all ends up working. Just look at the source code for this site, it is appalling.</p>
    </div>
</div>
<!-- End of About Me Div-->
<!-- Start of Technical Skills Div-->
<div id="skills" class="container">
    <h3 class="skills-header">Technical Skills</h3>

    <div class="row">
        <div class="col skills-list">
            <h4>Languages</h4>
            <ul>
                <li>Java</li>
                <li>C#</li>
                <li>JavaScript</li>
                <li>C/C++</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Databases</h4>
            <ul>
                <li>MariaDB</li>
                <li>MySQL</li>
                <li>Oracle</li>
                <li>SQL Server</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Tools</h4>
            <ul>
                <li>Git</li>
                <li>TFS</li>
                <li>SVN</li>
                <li>Maven</li>
                <li>Jenkins</li>
                <li>Gradle</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Libraries</h4>
            <ul>
                <li>Entity Framework</li>
                <li>MyBatis</li>
                <li>JPA</li>
                <li>Spring Framework</li>
                <li>Apache Solr</li>
                <li>Knockout</li>
                <li>Angular 2</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col skills-list">
            <h4>Misc</h4>
            <ul>
                <li>Sharepoint</li>
                <li>SSRS</li>
                <li>Unix/Linux</li>
                <li>Agile</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>
</div>

<!-- End of Technical Skills Div-->

<!-- Start of Experience Div-->
<div id="experience" class="black-container">
    <div class="container">
        <h3>Experience</h3>
        {% for company in companies %}

            <div class="row">
                <div class="col-3 align-self-center">
                    <div class="timeline-icon left">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </div>
                    <div class="timeline-text left {% if company.dates.length === 2 %}double{% endif %}">
                        {% for date in company.dates %}
                         {{date.start}} - {{date.end}} {% if not loop.last %} <br /> {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-9">
                    <div class="card experience-card">
                        <div class="card-block">
                            <h4 class="card-title">{{company.name}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{company.title}}</h6>

                            {% for point in company.points %}
                                <p>{{point}}</p>
                            {% endfor %}

                            {% if company.skills.length > 0 %}
                            <p>
                                <b>Related Skills:</b> {{ company.skills | join(", ") }}                            
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- End of Experience Div-->



<!-- Start of Projects Div-->

<div id="projects" class="container">
    <h3>Projects</h3>
    <p>Here be where I will put some details about various projects.</p>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="img/project_thumbs/cartracker.jpg" />
            </div>
            <a href="project.html">
                <div class="project-info">
                    <span class="project-text">
                        <h3>CarTracker</h3>
                        <h5>Web + Android Application</h5>
                    </span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="img/project_thumbs/showreminder.jpg" />
            </div>
            <a href="project.html">
                <div class="project-info">
                    <span class="project-text">
                        <h3>ShowReminder</h3>
                        <h5>Web Application</h5>
                    </span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="img/project_thumbs/mirrormirror.jpg">
            </div>
            <a href="project.html">
                <div class="project-info">
                    <span class="project-text">
                        <h3>MirrorMirror</h3>
                        <h5>Web Application</h5>
                    </span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="img/project_thumbs/mwcaisse.jpg" />
            </div>
            <a href="project.html">
                <div class="project-info">
                    <span class="project-text">
                        <h3>mwcaisse.com</h3>
                        <h5>Web Design</h5>
                    </span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="img/project_thumbs/pushfile.jpg" />
            </div>
            <a href="project.html">
                <div class="project-info">
                    <span class="project-text">
                        <h3>PushFile</h3>
                        <h5>Web + Android Application</h5>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End of Projects Div-->

<div id="contact" class="black-container">
    <div class="container">
        <h3>Contact</h3>
        <p>Here be the contact information.</p>
    </div>
</div>

{% endblock %}
