{% extends "layout.njk" %}

{% block content %}

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ contextRoot }}#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contextRoot }}#skills">Technical Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contextRoot }}#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contextRoot }}#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contextRoot }}#contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="jumbotron">
        <div class="project-name">
            <h1>{{ name }}</h1>
            <h2>{{ type }}</h2>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col project-description">
                <h3>About the Project</h3>
                {%include about %}

                <h4>Related Skills</h4>
                <p>{{ relatedSkills | join(", ") }}</p>
            </div>

            <div class="col project-approach">
                <h3>Project Approach</h3>
                {%include approach %}
            </div>

        </div>
    </div>

    <div class="project-images">
        {% for image in images %}
        <div class="row">
            <img src="{{ contextRoot }}{{ image }}" />
        </div>
        {% endfor %}
    </div>
{% endblock %}
