.header {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.about {
    background-image: url('../img/background.png');
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    overflow: hidden;
    background-size: cover;
}

#footer-right li{
    display: inline-block;
}

.footer {
    padding: 30px;
    width: 100%;
    background-color: #292b2c;
    color: rgba(255, 255, 255, .5);
}